{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'img/apple-icon.png' %}"
    />
    <title>Ares Bitcoin QR Code</title>
</head>
<body>
    <center><img src="{% static 'img/logos/BitcoinQRcode.jpeg' %}" alt="Bitcoin QR code"></center>
</body>
</html>