<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <u><b><h3>Thank you for Choosing <b>Ares</b></h3></b></u>
    <br>
    <p></p>
    <p>Hi Sylva, welcome to  <b>Ares.</b> We are delighted and looking forward to have you investment with us.</p>

    <p>Click <a href="https://ares-app.herokuapp.com/profile/">Here</a> to view your profile and our available investment plans</p>


    <center><p>"<i>Meet you at the top.</i>" - <b>Ares</b></p></center>
  </body>
</html>
